<div class="form-group col-md-6">
    <a asp-action="AllVerbs" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Verbs</a>
    <a asp-action="AddUpdateVerb" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> ADD Verb</a>
    <a asp-action="AllNouns" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Nouns</a>
    <a asp-action="AddUpdateNoun" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> ADD Noun</a>
    <a asp-action="AllAdjectives" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Adjectives</a>
    <a asp-action="AddUpdateAdjective" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> ADD Adjective</a>
</div>