<div class="form-group col-md-6">
    <h5>Practice</h5>
    <a asp-action="AllVerbs" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Verbs</a>
    <a asp-action="AllNouns" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Nouns</a>
    <a asp-action="AllAdjectives" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Adjectives</a>
    <h5>Review</h5>
    <a asp-action="ReviewVerbs" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Verbs</a>
    <a asp-action="ReviewNouns" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Nouns</a>
    <a asp-action="ReviewAdjectives" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> All Adjectives</a>
</div>